/* CSS focado em Grid com estilização simples de LMC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

*:focus{
    outline: 3px solid #e67e22;
    outline-offset: 3px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 20px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    align-items: center;
}

.banner-hero {
    background-color: #f4f4f4;
    padding: 60px 20px;
    text-align: center;
}

main {
    padding: 40px 5%;
}

input[type="radio"] {
    display: absolute;
    opacity: 0;
}

label {
    padding: 10px 30px;
    background-color: #eee;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

input:checked + label {
    background-color: #e67e22;
    color: white;
}

/* Sistema de exibição das telas */
#massa:checked ~ #tela-massas {
    display: block;
}

/* GRID DE PRODUTOS */
.grid-produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 Colunas iguais */
    gap: 20px;
    margin-top: 30px;
}

.card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;

}
.card img {
    width: 100%;
    height: 150px;
}

.preco {
    display: block;
    margin: 10px 0;
    color: #e67e22;
    font-weight: bold;
}

.btn-pedir:focus {
    background-color: #27ae60;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.rodape {
    background-color: #2c3e50;
    color: white;
    padding: 30px;
    text-align: center;
}

.rodape a {
    color: #3498db;
    text-decoration: none;
    margin: 0 5px;
}